<div class="container">
        <form [formGroup]="form">
            <div class="header">
                <mat-icon class="lock">lock_outline</mat-icon>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Login*" formControlName="login">
                </mat-form-field>
            </div>
            <div>
                    <mat-form-field>
                        <input matInput placeholder="Password*" formControlName="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </form>
</div>