<app-container>
    <div>

      <div class="mat-elevation-z8">

        <mat-form-field>

          <mat-label><mat-icon matPrefix>search</mat-icon></mat-label>
          <input matInput placeholder="" #input>

        </mat-form-field>

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">

          <mat-spinner></mat-spinner>

        </div>

        <table
            mat-table
            [dataSource]="dataSource"
            matSort
            matSortActive="id"
            matSortDirection="asc"
            matSortDisableClear
        >

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Login</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"><small [style.color]="element.status == 'ACTIVE' ? 'green' : 'red'"> {{element.status}} </small></td>
          </ng-container>

          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef>Roles</th>
            <td mat-cell *matCellDef="let element"><small *ngFor="let role of element.roles">{{ role }}</small> </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="accent" *ngIf="element.status == 'ACTIVE'" (click)="blockUser(element)">Block user</button>
              <button mat-raised-button color="primary" *ngIf="element.status != 'ACTIVE'" (click)="unBlockUser(element)">Un block user</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
            [length]="dataSource.usersCount$ | async"
            [pageSizeOptions]="[10, 20, 50]"
            [pageSize]="10"
            showFirstLastButtons
        ></mat-paginator>
      </div>


<!--      <app-search (search)="searchData($event)"></app-search>-->
<!--      <app-grid [userList]="userList"></app-grid>-->
    </div>
</app-container>
