<div class="container">
        <form [formGroup]="form">
            <div class="header">
                <mat-icon class="lock">lock_outline</mat-icon>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Login*" formControlName="login">
                </mat-form-field>
            </div>
            <div>
                    <mat-form-field>
                        <input matInput placeholder="Password*" formControlName="password" [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
            <a [href]="googleAuth" mat-raised-button color="primary">Авторизация через google</a>
        </form>
</div>
